.elementor-kit-8{--e-global-color-primary:#101820;--e-global-color-secondary:#07272D;--e-global-color-text:#FF5F00;--e-global-color-accent:#F5F5F1;--e-global-color-ffc39a7:#F4F7FB;--e-global-color-8f9423f:#E9EFF5;--e-global-color-539075d:#CEDDE9;--e-global-color-bfc1432:#A2C1D7;--e-global-color-7f7b560:#709FC0;--e-global-color-2ee23c3:#4E84A9;--e-global-color-ad6b9d4:#3C6A8D;--e-global-color-9a8603c:#315573;--e-global-color-913a9b9:#2C4960;--e-global-color-4f4d9a3:#293E51;--e-global-color-671fe2a:#F1FCFC;--e-global-color-e42c81b:#CFF8F6;--e-global-color-ad3c64f:#9FF0EF;--e-global-color-e92c38e:#67DEE1;--e-global-color-bf872f3:#38C1C9;--e-global-color-4fae6d2:#1FA3AD;--e-global-color-739cd2b:#16808B;--e-global-color-b19f2a2:#16666F;--e-global-color-21c9501:#165159;--e-global-color-99a410d:#17444A;--e-global-color-830c067:#FFF8EC;--e-global-color-8566465:#FFEED3;--e-global-color-ce27173:#FFDAA5;--e-global-color-98a451c:#FFBE6D;--e-global-color-2d86aaa:#FF9732;--e-global-color-779ccce:#FF780A;--e-global-color-f6d054a:#CC4302;--e-global-color-f78631a:#A1350B;--e-global-color-97716f0:#822E0C;--e-global-color-8d822d4:#461404;--e-global-color-940fef4:#EEEEE7;--e-global-color-28d12d8:#DBDACD;--e-global-color-3d3e56f:#C4C3AD;--e-global-color-d39dd81:#ABA88C;--e-global-color-1288a85:#9A9475;--e-global-color-46d5b46:#8E8668;--e-global-color-967130e:#766E58;--e-global-color-fe2cfe1:#615A4B;--e-global-color-f3e2ec6:#504B3E;--e-global-color-00151cc:#2A2620;--e-global-color-6b403a5:#040E10;--e-global-color-3240151:#5B616E;--e-global-color-aa81f35:#FAFAFA;--e-global-color-5421183:#101820;--e-global-color-e876663:#F5F5F1;--e-global-color-ad1b670:#000000;--e-global-color-ae57984:#FFFFFF;--e-global-color-591cc58:#F3F8FA;--e-global-color-55c55e5:#EAF1F5;--e-global-color-27ac167:#D8E5ED;--e-global-color-452fe5a:#C0D4E1;--e-global-color-5d564fd:#A6BDD3;--e-global-color-84c9ba6:#8FA6C5;--e-global-color-77034cd:#7B90B6;--e-global-color-893b5da:#65789D;--e-global-color-bbd3072:#54647F;--e-global-color-066d035:#485467;--e-global-color-b8c5b94:#2A303C;--e-global-color-9d65ec0:#F4F3F2;--e-global-color-0867324:#E2E1DF;--e-global-color-67a5daa:#C8C4C0;--e-global-color-7b3d673:#A8A29C;--e-global-color-c5f92a6:#8F8780;--e-global-color-def442b:#79716B;--e-global-color-1fdacb6:#6E6460;--e-global-color-23a7bf2:#59524F;--e-global-color-489bb60:#4D4846;--e-global-color-0128b92:#453F3E;--e-global-color-b243035:#262322;--e-global-color-85ddc9a:#F7F8F8;--e-global-color-263fb0e:#EDEEF1;--e-global-color-d4e83d8:#D8DBDF;--e-global-color-2014f9a:#B6BAC3;--e-global-color-42e73fb:#8E95A2;--e-global-color-b941a2e:#6B7280;--e-global-color-1564ddc:#5B616E;--e-global-color-f1c1683:#4A4E5A;--e-global-color-aca6d2d:#40444C;--e-global-color-c26506e:#383A42;--e-global-color-3c35464:#25272C;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-text-font-family:"Roboto";--e-global-typography-accent-font-family:"Roboto";--e-global-typography-cbd9b77-font-family:"Albert Sans";--e-global-typography-cbd9b77-font-size:clamp(3rem, 2.5704rem + 1.8328vw, 4rem);--e-global-typography-cbd9b77-font-weight:700;--e-global-typography-cbd9b77-text-transform:uppercase;--e-global-typography-cbd9b77-line-height:1.1em;--e-global-typography-fab3839-font-family:"Albert Sans";--e-global-typography-fab3839-font-size:clamp(3rem, 2.7315rem + 1.1455vw, 3.625rem);--e-global-typography-fab3839-font-weight:700;--e-global-typography-fab3839-text-transform:uppercase;--e-global-typography-fab3839-line-height:1.3em;--e-global-typography-6a6b6af-font-family:"Albert Sans";--e-global-typography-6a6b6af-font-size:clamp(2rem, 1.5704rem + 1.8328vw, 3rem);--e-global-typography-6a6b6af-font-weight:700;--e-global-typography-6a6b6af-text-transform:uppercase;--e-global-typography-6a6b6af-line-height:1.3em;--e-global-typography-b9ff51a-font-family:"Albert Sans";--e-global-typography-b9ff51a-font-size:clamp(1.75rem, 1.6426rem + 0.4582vw, 2rem);--e-global-typography-b9ff51a-font-weight:600;--e-global-typography-b9ff51a-text-transform:uppercase;--e-global-typography-b9ff51a-line-height:1.3em;--e-global-typography-ca04559-font-family:"Albert Sans";--e-global-typography-ca04559-font-size:clamp(1.5rem, 1.3926rem + 0.4582vw, 1.75rem);--e-global-typography-ca04559-font-weight:600;--e-global-typography-ca04559-text-transform:uppercase;--e-global-typography-ca04559-line-height:1.4em;--e-global-typography-e6dfa95-font-family:"Albert Sans";--e-global-typography-e6dfa95-font-size:clamp(1.25rem, 1.1426rem + 0.4582vw, 1.5rem);--e-global-typography-e6dfa95-font-weight:600;--e-global-typography-e6dfa95-text-transform:uppercase;--e-global-typography-e6dfa95-line-height:1.4em;--e-global-typography-2dc6217-font-family:"Albert Sans";--e-global-typography-2dc6217-font-size:clamp(1.125rem, 1.0713rem + 0.2291vw, 1.25rem);--e-global-typography-2dc6217-font-weight:600;--e-global-typography-2dc6217-text-transform:uppercase;--e-global-typography-2dc6217-line-height:1.4em;--e-global-typography-e6d84a4-font-family:"Albert Sans";--e-global-typography-e6d84a4-font-size:0.875rem;--e-global-typography-e6d84a4-font-weight:600;--e-global-typography-e6d84a4-text-transform:uppercase;--e-global-typography-e6d84a4-line-height:1.6em;--e-global-typography-e6d84a4-letter-spacing:0.2em;--e-global-typography-f65c388-font-family:"Vela Sans";--e-global-typography-f65c388-font-size:1.5rem;--e-global-typography-f65c388-font-weight:400;--e-global-typography-f65c388-line-height:1.5em;--e-global-typography-0155475-font-family:"Vela Sans";--e-global-typography-0155475-font-size:1.375rem;--e-global-typography-0155475-font-weight:400;--e-global-typography-0155475-line-height:1.6em;--e-global-typography-c418380-font-family:"Vela Sans";--e-global-typography-c418380-font-size:1.125rem;--e-global-typography-c418380-font-weight:400;--e-global-typography-c418380-line-height:1.6em;--e-global-typography-0e03045-font-family:"Vela Sans";--e-global-typography-0e03045-font-size:1rem;--e-global-typography-0e03045-font-weight:400;--e-global-typography-0e03045-line-height:1.7em;--e-global-typography-46ab430-font-family:"Vela Sans";--e-global-typography-46ab430-font-size:0.875rem;--e-global-typography-46ab430-font-weight:400;--e-global-typography-46ab430-line-height:1.5em;background-color:var( --e-global-color-primary );color:var( --e-global-color-3240151 );font-family:var( --e-global-typography-c418380-font-family ), Sans-serif;font-size:var( --e-global-typography-c418380-font-size );font-weight:var( --e-global-typography-c418380-font-weight );line-height:var( --e-global-typography-c418380-line-height );}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}.elementor-kit-8 h1{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-fab3839-font-family ), Sans-serif;font-size:var( --e-global-typography-fab3839-font-size );font-weight:var( --e-global-typography-fab3839-font-weight );text-transform:var( --e-global-typography-fab3839-text-transform );line-height:var( --e-global-typography-fab3839-line-height );}.elementor-kit-8 h2{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-6a6b6af-font-family ), Sans-serif;font-size:var( --e-global-typography-6a6b6af-font-size );font-weight:var( --e-global-typography-6a6b6af-font-weight );text-transform:var( --e-global-typography-6a6b6af-text-transform );line-height:var( --e-global-typography-6a6b6af-line-height );}.elementor-kit-8 h3{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-b9ff51a-font-family ), Sans-serif;font-size:var( --e-global-typography-b9ff51a-font-size );font-weight:var( --e-global-typography-b9ff51a-font-weight );text-transform:var( --e-global-typography-b9ff51a-text-transform );line-height:var( --e-global-typography-b9ff51a-line-height );}.elementor-kit-8 h4{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-ca04559-font-family ), Sans-serif;font-size:var( --e-global-typography-ca04559-font-size );font-weight:var( --e-global-typography-ca04559-font-weight );text-transform:var( --e-global-typography-ca04559-text-transform );line-height:var( --e-global-typography-ca04559-line-height );}.elementor-kit-8 h5{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-e6dfa95-font-family ), Sans-serif;font-size:var( --e-global-typography-e6dfa95-font-size );font-weight:var( --e-global-typography-e6dfa95-font-weight );text-transform:var( --e-global-typography-e6dfa95-text-transform );line-height:var( --e-global-typography-e6dfa95-line-height );}.elementor-kit-8 h6{color:var( --e-global-color-6b403a5 );font-family:var( --e-global-typography-2dc6217-font-family ), Sans-serif;font-size:var( --e-global-typography-2dc6217-font-size );font-weight:var( --e-global-typography-2dc6217-font-weight );text-transform:var( --e-global-typography-2dc6217-text-transform );line-height:var( --e-global-typography-2dc6217-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1920px;}.e-con{--container-max-width:1920px;--container-default-padding-top:0px;--container-default-padding-right:0px;--container-default-padding-bottom:0px;--container-default-padding-left:0px;}.elementor-widget:not(:last-child){margin-block-end:24px;}.elementor-element{--widgets-spacing:24px 24px;--widgets-spacing-row:24px;--widgets-spacing-column:24px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1366px){.elementor-kit-8{font-size:var( --e-global-typography-c418380-font-size );line-height:var( --e-global-typography-c418380-line-height );}.elementor-kit-8 h1{font-size:var( --e-global-typography-fab3839-font-size );line-height:var( --e-global-typography-fab3839-line-height );}.elementor-kit-8 h2{font-size:var( --e-global-typography-6a6b6af-font-size );line-height:var( --e-global-typography-6a6b6af-line-height );}.elementor-kit-8 h3{font-size:var( --e-global-typography-b9ff51a-font-size );line-height:var( --e-global-typography-b9ff51a-line-height );}.elementor-kit-8 h4{font-size:var( --e-global-typography-ca04559-font-size );line-height:var( --e-global-typography-ca04559-line-height );}.elementor-kit-8 h5{font-size:var( --e-global-typography-e6dfa95-font-size );line-height:var( --e-global-typography-e6dfa95-line-height );}.elementor-kit-8 h6{font-size:var( --e-global-typography-2dc6217-font-size );line-height:var( --e-global-typography-2dc6217-line-height );}}@media(max-width:1024px){.elementor-kit-8{font-size:var( --e-global-typography-c418380-font-size );line-height:var( --e-global-typography-c418380-line-height );}.elementor-kit-8 h1{font-size:var( --e-global-typography-fab3839-font-size );line-height:var( --e-global-typography-fab3839-line-height );}.elementor-kit-8 h2{font-size:var( --e-global-typography-6a6b6af-font-size );line-height:var( --e-global-typography-6a6b6af-line-height );}.elementor-kit-8 h3{font-size:var( --e-global-typography-b9ff51a-font-size );line-height:var( --e-global-typography-b9ff51a-line-height );}.elementor-kit-8 h4{font-size:var( --e-global-typography-ca04559-font-size );line-height:var( --e-global-typography-ca04559-line-height );}.elementor-kit-8 h5{font-size:var( --e-global-typography-e6dfa95-font-size );line-height:var( --e-global-typography-e6dfa95-line-height );}.elementor-kit-8 h6{font-size:var( --e-global-typography-2dc6217-font-size );line-height:var( --e-global-typography-2dc6217-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-8{--e-global-typography-cbd9b77-font-size:clamp(3rem, 2.8786rem + 0.5178vw, 3.5rem);font-size:var( --e-global-typography-c418380-font-size );line-height:var( --e-global-typography-c418380-line-height );}.elementor-kit-8 h1{font-size:var( --e-global-typography-fab3839-font-size );line-height:var( --e-global-typography-fab3839-line-height );}.elementor-kit-8 h2{font-size:var( --e-global-typography-6a6b6af-font-size );line-height:var( --e-global-typography-6a6b6af-line-height );}.elementor-kit-8 h3{font-size:var( --e-global-typography-b9ff51a-font-size );line-height:var( --e-global-typography-b9ff51a-line-height );}.elementor-kit-8 h4{font-size:var( --e-global-typography-ca04559-font-size );line-height:var( --e-global-typography-ca04559-line-height );}.elementor-kit-8 h5{font-size:var( --e-global-typography-e6dfa95-font-size );line-height:var( --e-global-typography-e6dfa95-line-height );}.elementor-kit-8 h6{font-size:var( --e-global-typography-2dc6217-font-size );line-height:var( --e-global-typography-2dc6217-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//*#wp-admin-bar-gdl-live-site {*/
/*  display: none;*/
/*}*/

/*Paragraph*/
.balance {
  text-wrap: balance;
}
.pretty {
  text-wrap: pretty;
}

.opacity-80 {
  opacity: 0.8;
}

.b-700 {
    font-weight: 700 !important;
}

/*Padding*/
.p-section {
  padding: 120px 20px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.p2-section {
  padding-top: 80px !important;
  padding-left: 20px !important;
  padding-bottom: 120px !important;
  padding-right: 20px !important;
}

@media screen and (width <= 1366px) {
  .p-section {
    padding: 80px 20px;
  }
  .py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pt-0 {
    padding-top: 0px;
  }

  .px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .p2-section {
    padding-top: 80px !important;
    padding-left: 20px !important;
    padding-bottom: 80px !important;
    padding-right: 20px !important;
  }

@media screen and (width <= 1024px) {
  .p-section {
    padding: 80px 20px;
  }
  .py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pt-0 {
    padding-top: 0px;
  }

  .px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .p2-section {
    padding-top: 80px !important;
    padding-left: 20px !important;
    padding-bottom: 80px !important;
    padding-right: 20px !important;
  }
}

.gradient-fb-bg {
    background: var(--Forge-Blue-Gradient, linear-gradient(116deg, #07252C 11.33%, #07252C 20.26%, #07252C 27.51%, #08242B 33.37%, #08242B 38.07%, #08242A 41.88%, #092329 45.05%, #0A2228 47.84%, #0A2227 50.49%, #0B2126 53.28%, #0C2025 56.45%, #0C2024 60.26%, #0D1F23 64.96%, #0E1E22 70.82%, #0E1E21 78.08%, #0F1D20 87%)) !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/AlbertSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/AlbertSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/AlbertSans-SemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Vela Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/VelaSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Vela Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/VelaSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Vela Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://maintain.com.au/wp-content/uploads/2025/07/VelaSans-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */