.elementor-141 .elementor-element.elementor-element-9f1ed7b{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;}.elementor-141 .elementor-element.elementor-element-9f1ed7b:not(.elementor-motion-effects-element-type-background), .elementor-141 .elementor-element.elementor-element-9f1ed7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-141 .elementor-element.elementor-element-8c21de4{--display:flex;--gap:60px 60px;--row-gap:60px;--column-gap:60px;}.elementor-141 .elementor-element.elementor-element-f3d05d0{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;}.elementor-141 .elementor-element.elementor-element-41422e9{text-align:start;}.elementor-141 .elementor-element.elementor-element-41422e9 img{width:184px;}.elementor-141 .elementor-element.elementor-element-cbf869f{--display:flex;--min-height:30px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px 0px;--row-gap:0px;--column-gap:0px;--border-radius:9999px 9999px 9999px 9999px;}.elementor-141 .elementor-element.elementor-element-cbf869f:not(.elementor-motion-effects-element-type-background), .elementor-141 .elementor-element.elementor-element-cbf869f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-ae57984 );}.elementor-141 .elementor-element.elementor-element-cbf869f.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-141 .elementor-element.elementor-element-a418b90.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-141 .elementor-element.elementor-element-a418b90 .elementor-icon-wrapper{text-align:center;}.elementor-141 .elementor-element.elementor-element-a418b90 .elementor-icon{font-size:10px;}.elementor-141 .elementor-element.elementor-element-a418b90 .elementor-icon svg{height:10px;}.elementor-141 .elementor-element.elementor-element-d883040{--display:flex;}.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#10182000;}.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item, .elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-f65c388-font-family ), Sans-serif;font-size:var( --e-global-typography-f65c388-font-size );font-weight:var( --e-global-typography-f65c388-font-weight );}.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown a{padding-top:14px;padding-bottom:14px;}.elementor-141 .elementor-element.elementor-element-ecd205e{--display:flex;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}#elementor-popup-modal-141 .dialog-widget-content{animation-duration:0.3s;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-141{background-color:rgba(0,0,0,.8);justify-content:flex-end;align-items:flex-start;pointer-events:all;}#elementor-popup-modal-141 .dialog-message{width:700px;height:100vh;align-items:flex-start;}@media(max-width:1366px){.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item, .elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:var( --e-global-typography-f65c388-font-size );}}@media(max-width:1024px){.elementor-141 .elementor-element.elementor-element-9f1ed7b{--padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;}.elementor-141 .elementor-element.elementor-element-cbf869f{--min-height:30px;}.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item, .elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:var( --e-global-typography-f65c388-font-size );}}@media(max-width:767px){.elementor-141 .elementor-element.elementor-element-cbf869f{--width:30px;--min-height:30px;}.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item, .elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:var( --e-global-typography-f65c388-font-size );}}@media(min-width:768px){.elementor-141 .elementor-element.elementor-element-cbf869f{--width:30px;}}@media(max-width:1024px) and (min-width:768px){.elementor-141 .elementor-element.elementor-element-cbf869f{--width:30px;}}/* Start custom CSS for image, class: .elementor-element-41422e9 */.elementor-141 .elementor-element.elementor-element-41422e9 {
    width: fit-content;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-a418b90 */.elementor-141 .elementor-element.elementor-element-a418b90 svg g rect {
    fill: var(--e-global-color-6d976da);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-be2ccbb */.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown {
  background-color: unset;
  margin-top: 0;
  font-size: 13px;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown ul li {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 28px !important;
  padding-right: 0px !important;
  overflow-y: hidden;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown ul li:last-child {
  padding-bottom: 0px !important;
}

/* Remove default value */
.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown ul li a {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown ul li a:hover {
  color: #FF5F00;
  opacity: 1;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .sub-menu li a:hover {
  color: var(--e-global-color-1cb31d9);
  /*text-decoration: underline;*/
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown ul li a:active {
  background-color: rgba(255, 255, 255, 0) !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item.highlighted,
.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item:focus,
.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown .elementor-item:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .elementor-nav-menu--dropdown a:hover {
  background-color: unset !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-menu .menu-item {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 15px !important;
  padding-right: 0px !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-menu .menu-item:first-child {
  padding-top: 16px !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-menu .menu-item:last-child {
  padding-bottom: 0px !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .menu-item a {
  color: #fff;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .menu-item a:hover {
  cursor: pointer;
  color: #FF5F00 !important;
  /*text-decoration: underline;*/
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-menu .elementor-sub-item {
  font-family: var(--e-global-typography-8179466-font-family), Sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-arrow {
  padding-left: 10px;
  fill: #FF5F00;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .sub-arrow svg path {
  fill: var(--e-global-color-1cb31d9);
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .menu-item-has-children li a{
    opacity: 0.7;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .menu-item-has-children li a:hover,

  color: var(--e-global-color-98d8101);
  opacity: 1;
}

.elementor-141 .elementor-element.elementor-element-be2ccbb .menu-item-has-children li a:nth-child(3n + 1) {
  padding-top: 0;
  padding-bottom: 15px;
}/* End custom CSS */
/* Start custom CSS */#elementor-popup-modal-141{
    z-index: 9999999;
}/* End custom CSS */