.elementor-467 .elementor-element.elementor-element-c7a7710{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:80px 80px;--row-gap:80px;--column-gap:80px;}.elementor-467 .elementor-element.elementor-element-40f7daf{width:var( --container-widget-width, 63% );max-width:63%;--container-widget-width:63%;--container-widget-flex-grow:0;}.elementor-467 .elementor-element.elementor-element-f50bf18{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:52px 52px;--row-gap:52px;--column-gap:52px;--flex-wrap:wrap;}.elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items, .elementor-467 .elementor-element.elementor-element-fdaa72d > .jet-listing-grid > .jet-listing-grid__items{--columns:1;}:is( .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__slider > .jet-listing-grid__items > .slick-list > .slick-track, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__scroll-slider > .jet-listing-grid__items ) > .jet-listing-grid__item{padding-left:calc(24px / 2);padding-right:calc(24px / 2);padding-top:calc(24px / 2);padding-bottom:calc(24px / 2);}:is( .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__slider, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__scroll-slider ) > .jet-listing-grid__items{margin-left:calc( 24px / -2);margin-right:calc( 24px / -2);width:calc(100% + 24px);}:is( .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__slider, .elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__scroll-slider ) > .jet-listing-grid__items.grid-collapse-gap{margin-top:calc( 24px / -2);margin-bottom:calc( 24px / -2);}@media(max-width:1366px){.elementor-467 .elementor-element.elementor-element-40f7daf{width:100%;max-width:100%;}}@media(max-width:1200px){.elementor-467 .elementor-element.elementor-element-40f7daf{width:100%;max-width:100%;}.elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items, .elementor-467 .elementor-element.elementor-element-fdaa72d > .jet-listing-grid > .jet-listing-grid__items{--columns:1;}}@media(max-width:1024px){.elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items, .elementor-467 .elementor-element.elementor-element-fdaa72d > .jet-listing-grid > .jet-listing-grid__items{--columns:1;}}@media(max-width:767px){.elementor-467 .elementor-element.elementor-element-f50bf18{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-467 .elementor-element.elementor-element-fdaa72d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items, .elementor-467 .elementor-element.elementor-element-fdaa72d > .jet-listing-grid > .jet-listing-grid__items{--columns:1;}}/* Start custom CSS for jet-engine-component-230, class: .elementor-element-40f7daf */.elementor-467 .elementor-element.elementor-element-40f7daf #center .mbs_subtitle,
.elementor-467 .elementor-element.elementor-element-40f7daf #center .mbs_title,
.elementor-467 .elementor-element.elementor-element-40f7daf #center .mbs_content,
.elementor-467 .elementor-element.elementor-element-40f7daf #center .mbs_content p{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.elementor-467 .elementor-element.elementor-element-40f7daf #no.mbs_icon,
.elementor-467 .elementor-element.elementor-element-40f7daf #no.mbs_subtitle p,{
    display: none !important;
}

.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h1 h1 {
    display: flex !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h1 h2,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h1 h3,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h1 h4 {
    display: none !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h2 h2 {
    display: flex !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h2 h1,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h2 h3,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h2 h4 {
    display: none !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h3 h3 {
    display: flex !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h3 h1,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h3 h2,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h3 h4 {
    display: none !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h4 h4 {
    display: flex !important;
}
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h4 h1,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h4 h2,
.elementor-467 .elementor-element.elementor-element-40f7daf #tag_h4 h3 {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for jet-engine-component-171, class: .elementor-element-e2431f1 */.elementor-467 .elementor-element.elementor-element-e2431f1 .single_btn #secondary_btn {
    display: none !important;
}

.elementor-467 .elementor-element.elementor-element-e2431f1 .dual_btn #secondary_btn {
    display: flex !important;
}

/*.elementor-467 .elementor-element.elementor-element-e2431f1 {*/
/*    display: none;*/
/*}*//* End custom CSS */